.author .btn-instagram {
  margin-top: 10px;
  background-color: #E1306C;
  color: white;
}

.author .btn-instagram:hover {
  background-color: #C13584;
}

.author {
  flex: 1;
}

a {
  color: #5e72e4;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #475fe6;
  text-decoration: none;
}

/* loading spinner - https://10015.io/tools/css-loader-generator */

.spinner {
  position: relative;
  width: 22.4px;
  height: 22.4px;
}

.spinner::before,
.spinner::after {
  --radius: 250;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  animation: spinner-w7nm60 2s infinite linear;
  background: #3358f4;
  border-radius: 50%;
}

.spinner::before {
  --radius: -250;
  background: #dbdcef;
}

@keyframes spinner-w7nm60 {
  0% {
    transform: scale(1) rotate(0deg) translateY(calc(var(--radius) * 1%));
  }

  50% {
    transform: scale(0.5) rotate(1440deg) translateY(0);
  }

  100% {
    transform: scale(1) rotate(2920deg) translateY(calc(var(--radius) * 1%));
  }
}

/* loading spinner end */

.duo img {
  width: 44px;
  border-radius: 50%;
  padding: 2px;
  border: 3px solid #27293d;
}

.duo {
  width: auto;
  border: 5px solid transparent;
  border-radius: 25px;
  background: linear-gradient(45deg, #3358f4, #00d4ff);
  background-clip: padding-box;
  padding: 5px;
  cursor: pointer;
  filter: brightness(75%);
  transform: scale(1);
  transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease; /* Transição única */
}

.duo.active,
.duo:hover {
  filter: brightness(100%);
  transform: scale(1.1);
}

.rounded-image {
  border-radius: 50%;
  border: 3px solid #27293d;
}

/* selo verificado start */

.profile-image-wrapper {
  position: relative;
  display: inline-block;
}

.verified-badge {
  position: absolute;
  bottom: 15px;
  right: 10px;
  width: 35px;
  height: 35px;
}

.verified-badge-modal {
  width: 35px;
  height: 35px;
}

/* selo verificado end */

/* participante eliminado start */
.eliminado {
  filter: grayscale(100%);
  transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease; /* Transição única */
}

.eliminado:hover {
  filter: grayscale(0%);
}

/* participante eliminado end */


/* switch start */

.form-check-input {
  cursor: pointer;
}

.form-check-label {
  padding-left: 0px !important;
  padding-right: 40px;
}

/* switch end */